{% extends "main/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<section>
    <div class="container-fluid">
        <!-- Page Header-->
        <header>
            <ol class="breadcrumb mb-1 mt-1">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Varanda</a></li>
                <li class="breadcrumb-item"><a href="">Lista Departamento</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
            </ol>
        </header>
        {% if messages %}
                        {% for message in messages %} 
                            <div id="divmessage" class="alert alert-{{ message.tags }} alert-dismissable">
                              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                              {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}   

        <div class="row">
            {% if page == "list" %}
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-end text-center">
                        <div class="text-center border">
                            <a href="{% url 'Adisiona-Arquivu'%}" class="btn btn-sm btn-info" title="Add Data">Add <i class="fa fa-plus-square"></i></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" class="table table-hover table-striped w-100">
                                <thead>
                                    <tr>
                                        <th> No</th>
                                        <th> Nu Karta</th>
                                        <th> Data Arquivu </th>
                                        <th>Departamentu</th>
                                        <th>Titulu</th>
                                        <th>Hato'o Ba</th>
                                        <th>Pdf Field</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in arquivu %}
                                    <tr>
                                        <td scope="row"> {{forloop.counter}} </td>
                                        <td>{{ data.no_carta }}</td>
                                        <td>{{ data.data_Arquivu }}</td>
                                        <td>{{ data.departamento }}</td>
                                        <td>{{ data.titulo }}</td>
                                        <td>{{ data.hato_o_ba }}</td>
                                        <td>
                                        {% if data.documento_pdf %}
                                            <a href="{{ data.documento_pdf.url }}" target="_blank">
                                                <i class="fa fa-file-pdf-o" style="color: #e74c3c; font-size: 24px;" title="Download PDF"></i> Download PDF
                                            </a>
                                        {% else %}
                                            No document uploaded
                                        {% endif %}
                                      </td>
                                            
                                        <td>
                                            <div class="d-flex">
                                                <div class="flex-fill">
                                                    <a href="{% url 'detail_ArquivuRelatoriu' data.id%}" class="btn btn-sm btn-warning" title="Detallu"><i class="fa fa-eye"></i></a>
                                                </div>
                                                <div class="flex-fill">
                                                    <a href="{% url 'update-Arquivu' data.id%}" class="btn btn-sm btn-primary" title="Update"><i class="fa fa-pencil"></i></a>
                                                </div>
                                                <div class="flex-fill">
                                                    <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delete-{{ data.id }}" style="text-decoration: none"><i class="fa fa-trash"></i></button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <!-- Modal Delete -->
                                    <div class="modal fade" id="delete-{{ data.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteLabel">Delete Funsionario</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Ita Boot fiar atu hamos Realtoriu ne'e: {{ data.titulo }}?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Tidak</button>
                                                    <a href="{% url 'delete_arquivu_relatoriu' data.id %}" class="btn btn-danger">Yes</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if page == "form" %}
            <div class="container-fluid pt-5">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h2><p>Formulariu Adisiona Funsionariu</p></h2>
                                <form method="post"enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% crispy form %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#example').removeAttr('width').DataTable();
    });
    
</script>
<script type="text/javascript">
    function myFunction() {
        var file = document.getElementById("id_image").files[0];
        var reader = new FileReader();
        reader.onload = function (e) {
            document.getElementById('output').src = e.target.result;
        };
        reader.readAsDataURL(file);
    }
</script>

{% endblock %}
